@import url('../base.css');

#olvido {
    width: 85%;
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 0.1rem solid #F25135;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

#content-olvido{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#content-olvido h1 {
    font-size: 2rem;
}

#content-olvido h1 span {
    color: orangered;
}

#content-olvido p {
    font-size: 1rem;
    padding-bottom: 1rem;
}

/* Formulario de olvido */
#olvido-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#olvido-form label {
    font-size: 1rem;
}

#olvido-form input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
}

#olvido-form button {
    font-size: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #F25135;
    border-radius: 0.5rem;
    background-color: #F25135;
    color: white;
    cursor: pointer;
}
