#contacto {
    width: 85%;
    border: 0.01rem solid var(--fondo-alternativo);
    border-radius: 1.5rem;
    overflow: hidden;
    background-image: url('../images/fondoContacto.png');
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-bottom: 1rem;
    margin-top: 4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#contacto>header {
    display: flex;
    padding-top: 1rem;
}

#contacto>header>h3 {
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
}

#formulario {
    width: 60%;
    text-align: center;
    padding: 0.5rem;
}

#formulario>input {
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--inputs);
    margin-left: 2rem;
}


#formulario textarea {
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--inputs);
    margin-left: 2rem;
}

#formulario>button {
    width: 15rem;
    text-align: center;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--botones);
    background-color: transparent;
    color: var(--botones);
    margin-left: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
}

#formulario>button svg {
    width: 8%;
}

#formulario>button:hover {
    color: black;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


