body>main {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#content-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;


    opacity: 0;
    transform: translateX(4rem);
    animation: slideRight 1s ease-out 200ms 1 forwards;
}

#content-hero a:first-child {
    width: 15rem;
    text-align: center;
    align-self: flex-start;
    padding: 0.5rem 1.25rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--botones);
    background-color: transparent;
    color: var(--botones);
}

#content-hero a svg {
    width: 13px;
}

#content-hero h1 {
    font-size: 2.75rem;
}

#content-hero h1 span {
    color: orangered;
}

#content-hero a {
    width: 50%;
    text-align: center;
    align-self: center;
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;
    background-color: var(--botones);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#content-hero a:hover {
    color: black;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#card-hero {
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;

    opacity: 0;
    transform: translateX(4rem);
    animation: slideLeft 1s ease-out 500ms 1 forwards;
}


/* Responsive para tablets */
@media (max-width: 1100px) and (min-width: 769px) {
    #card-hero {
        width: 0%;
        display: none;
    }

    #content-hero {
        width: 70%;
        text-align: center;
        margin-left: -120px;
    }

    #content-hero h1 {
        font-size: 2rem;
    }

    #content-hero a {
        width: 70%;
    }
}


@media (max-width: 768px) {
    body > main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #card-hero {
        width: 0%;
        display: none;
    }

    #content-hero {
        width: 80%;
        text-align: center;
        margin-left: -120px;
    }

    #content-hero h1 {
        font-size: 1.75rem;
    }

    #content-hero a {
        width: 80%;
    }
}


/* Animaciones */
@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(4rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(4rem);
    }
}